@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Philosopher&display=swap');
* {
  box-sizing: border-box;
  flex: 5%;
  font-family: 'Barlow', sans-serif !important;
  color: var(--text);
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  
  /*colour section */ 
  --text: #eae9fc;
  --background: #181717;
  --primary: #8731d8;
  --secondary: #120024;
  --accent: #c200bb;
}

/* navigation bar styles */

header {
  height: 50px;
  width: 100%;
  background-color: var(--secondary);
}

nav {
  display: inline-block;
  align-items: center;
  color: var(--text);
  width: 100%;
  margin: auto;
}

.logo {
  width: 50px;
  height: 50px;
  float: left;
}

ul {
  display: flex;
  list-style: none;
  overflow: hidden;
  background-color: var(--background);
  text-align: center;
}

/* text styles */

h1 {
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

p {
  display: block;
  text-align: center;
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
}

/* Hero */

main {
  display: flex;
  justify-content: center;
}

.launch {
  background-image: url(/img/mongolia.jpg);
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  height: 85vh;
  width: 100%;
}

.copy {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
.displatebanner {
  background-image: url(/img/Displaterosterbanner.jpg);
  padding-top: 10%;
  padding-bottom: 10%;
  height: 40em;
  width: 100%;
  text-shadow: #120024;
}

.bannertxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
}

/* gallery */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

img {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33%;
  padding: 0 5px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1)
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* interactie a */

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
  max-height: 50px;
  background-color: var(--secondary);
}

a:hover {
  background-color: var(--primary);
  padding: 1em;
}

li:hover {
  color:var(--primary);
  text-decoration: none;
  text-shadow: 0 0 12px #ffffff;
}

/* Sections Articles */

section {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-bottom: 5em;
  align-items: center;
}

article {
  display: flex;
  background-color: var(#181717c4);
  height: 200px;
  text-align: center center;
  position:relative;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5em;
  background-color: var(--secondary);
}
