* {
    box-sizing: border-box;
    flex: 5%;
    font-family: monospace;
    font-style: normal;
}

/* gallery */
main {
    margin-left: 5%;
    margin-right: 5%;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
   
    display: flex;

    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 5px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
/* navigation bar styles */

header {
    display: flex;
    padding: 2%;
    background-color: #d61010;
}

nav{
    color: #dbdbdb;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    overflow: hidden;
    background-color: #d3f8d5;
    text-align: center;
    padding: 1em;

}

.navbuttons {
    display: block;
    justify-content: center;
    color: #e9760a;
    text-decoration: none;
    padding: 14px 16px;
}

.navbuttons:hover {
    color: #d61010;
    text-decoration: none;
}

a {
    background-color: aqua;
}
a:hover {
    color: #dbdbdb;
    background-color: #10d61a;
}

/* main and h1 styles */

h1 {
    color: #dbdbdb;
    font-weight: bold;
    font-size: 3em;
}

main {
    background-color: #caca10;
}

footer {
    background-color: #10d61a;
    display: flex;
}

/* img */